body {
    padding-top: 60px;
    background-color: rgb(35,33,33);

}
*
{
    color: white;
}
.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.movieTitle:hover,
.movieTitle:focus {
    text-decoration: none;
}

.movieContent {
    text-align: justify;
}

.movieImage {
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #555;
}

.movieTitle:hover,
.movieTitle:focus {
    text-decoration: none;
}

.movieContent {
    text-align: justify;
}

.movieImage {
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #555;
}

.category-container{
    height: 60vh;
    width: 60vw;
    margin: 0 auto;
}
.category-cards{
    height: 60%;
    width: 50%;
    margin:auto;
    position:relative;
    top: 10%;

    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-35vw) rotateY(0);
    /*animation: animationCarousel 15s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;*/
    transition: all 5s;
}
#cards{
    transform: translateZ(-35vw) rotateY(0);
}
.category-cards:active{
    color:white;
}
.category-cards-item{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius:10px;
}
.category-cards-item:nth-child(1){
    transform: rotateY(0) translateZ(35vw);
}
.category-cards-item:nth-child(2){
    transform: rotateY(120deg) translateZ(35vw);
}.category-cards-item:nth-child(3){
     transform: rotateY(240deg) translateZ(35vw);
 }

@keyframes animationCarousel {
    from  { transform: translateZ(-35vw) rotateY(0) ; }
    33%  { transform: translateZ(-35vw) rotateY(-120deg) ; }
    66%  { transform: translateZ(-35vw) rotateY(-240deg) ; }
    to { transform: translateZ(-35vw) rotateY(-360deg) ; }
}
@keyframes animationCarousel2 {
    from  { transform: translateZ(-35vw) rotateY(0); }
    to  { transform: translateZ(-35vw) rotateY(-120deg); }
}

.button{
    margin: 10px;
    padding: 15px;
    text-align: center;
    transition: 0.5s;
    background: linear-gradient(to bottom right, var(--c1, #a86bf2), var(--c2, #e66465) 51%, var(--c1, #a86bf2)) var(--x, 0)/ 200%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    --c1: #a86bf2;
    --c2: #e66465;
}
.button:hover{
    /* background: linear-gradient(, );*/
    --x: 100%;
    box-shadow: 0 0 20px #eee;
}

.histoireImage {
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #555;
    height: 60vh;
    margin: 0 auto;
}
.cardHist {
    box-shadow: 0px 0px 10px white;
}

.linkHist{
    text-decoration: none;
    font-weight: bold;
    position: relative;
    outline: none;
    padding: 2px 1px 0;
    color: black;
}

.linkHist:hover{
    color:black;
}
.linkHist::after {
    content : "";
    position : absolute;
    width : 100%;
    height : 3px;
    background-color: black;
    bottom: -2px;
    left: 0;
    transform : scaleX(0) ;
    transform-origin: bottom right;
    transition : transform 0.25s ease-in; /*ease-out ou linear*/
}
.linkHist:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1) ;
}
.tableParag:nth-child(odd) {
    background-color: rgba(195,177,225,0.2) !important;

}
#spanA{
    background-color: white !important;
    position: absolute;
    left: 0;
    color : white !important;
    z-index: 0;
    width:113px;
    height: 38px;
    transition : all 0.5s linear;
}
#spanB{
    z-index: 1;
    position: absolute;
    transition : all 0.5s linear;
}
#spanC{
    color: white;
    z-index: 1;
    position: absolute;
    transition : all 0.5s linear;
}

#baliseb{
    position: relative;

}


/* Un peu d'accessibilité */
input:focus
{
    outline: 6px solid #A86BF2FF !important;
    font-size: larger;
    font-weight: bold;
}
textarea:focus
{
    outline: 6px solid #A86BF2FF !important;
    font-size: larger;
    font-weight: bold;
}
select:focus
{
    outline: 6px solid #A86BF2FF !important;
    font-size: larger;
    color: black !important;
    font-weight: bold;
}
option
{
    background-color: #E09B9CFF !important;
    font-size: larger;
    color: black !important;
    font-weight: bold;
}
.overfade{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid #777;
    max-height:200px;
    overflow:hidden;
    text-overflow: ellipsis;
    content: "" ;
    background: -webkit-linear-gradient(#000, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}